.body {
    background-color: #131313;
    flex: 0.8;
    height: calc(100vh - 100px);
    padding: 20px;
    overflow-y: overlay;
    
}
.body > * {
    animation: 2s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.body::-webkit-scrollbar {
    display: none;
}

.body_info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body_info > img {
    height: 20vh;
    margin: 0 20px;
}

.body_infoText {
    flex: 1;
}

.body_infoText > p {
    font-size: 14px;
}

.body_infoText > h2 {
    font-size: 48px;
}

.body_icons{
    display: flex;
    align-items: center;
}

.body_icons > .MuiSvgIcon-root {
    margin-right: 20px;
    cursor: pointer;
}

.body_shuffle {
    font-size: 60px !important;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 13px;
}

.body_shuffle:hover {
    transition: 200ms transform ease-in;
    transform: scale(1.09);
}


.body_songs {
    margin: 20px -30px;
}