.sidebarText {
    color: #777;
    height: 40px;
    cursor: pointer;
    transition: 150ms color ease-in;

    display: flex;
    overflow-y: visible;
}

.sidebarText:hover {
    color: white;
}

.sidebar_title {
    font-size: 12px;
    margin-left: 10px;
    font-weight: 500;
    cursor: default;
}

.sidebar > hr {
    border: 1px solid #333;
    width: 90%;
    margin: 10px auto;
}

.sidebarText > p {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 16px;
}