.sidebar {
    height: calc(100vh - 70px);
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    flex: 0.20;
    background-color: #121212;

    overflow: overlay;
}

.sidebar::-webkit-scrollbar {
    display: none;
}